/* Avoid swipe gesture selecting part of the app */
* {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

html, body {
  padding: 0;
  margin: 0;
  /* margin-top: -40px; */
  width: 640px;
  height: 960px;
  background: #444;
  /* make sure the body cannot be scrolled */
  overflow: hidden;
  position: fixed;
  top:0;
  left:0;
  font-family: 'Bitter';
}

/*#map {
  width: 320px;
  height: 480px;
  position: fixed;
  zoom: 2;
} */ 


/*-------------Form-Classes----------------*/

.form {
  position: absolute;
  top: 960px;
  left: 0;
  width: 640px;
  z-index: 20001;
}

.form-head {
  width: 600px;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 36px;
  padding:20px;
  border: 0;
  margin: 0;
}

.form-body {
  height:484px;
  width: 610px;
  margin:0;
  background-color: #484848;
  color: white;
  font-size:36px;
  padding-left:30px;
  overflow-y:scroll;
  overflow-x:hidden;
  position:absolute;
}

.form-body ul{
  margin:0;
}

 /* height: 760px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 200px;
  width: 640px; */

/*--- div class for adding padding for title+input ("inputBlock") ---*/
.form-body-inputBlock {
  padding:10px;
}

.form-body input  {
  text-align:left;
  vertical-align:text-top;
  width:520px;
  background-color:#B0B0B0;
  color:black;
  font-size:24px;
  font-family:'Bitter';
  border:0;
  padding:18px;
  margin-top:4px;
  margin-bottom:4px; 
}

.formTextarea  {
  background-color:#B0B0B0;
  font-family:'Bitter';
  width:520px;
  color:black;
  font-size:24px;
  border:0;
  padding:18px;
  margin-top:4px;
  margin-bottom:4px;   
  resize:none;
}

.form-body p  {
  text-align:left;
  margin: 0;
}

/*.form-body img {
} */

.formIcon {
  height:100px;
  width:100px;
  vertical-align: middle;
  margin-bottom:10px;
}

.amountTextarea {
height:100px;
width:140px;
background-color:#B0B0B0;
margin:10px 0px 20px 0px;
vertical-align: middle; 
padding:0;
border:none;
resize:none;
}

/*-------------FORM BUTTON CLASSES ----------------*/
.formBtn  {
  width: 640px;
  background-color: black;
  /*text-align: center;*/
  color: white;
  font-family:'Bitter';
  font-size: 44px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 0;
  margin: 0;
}

.formBtn img{
  width:60px;
  height:60px;


}

.formBtn p{
  text-align: left;
  padding-left: 40px;
  float:left;

 
}

.rightalign {
text-align: right;
vertical-align: top;
}

.addBtn {
width:100px;
height:100px;
background-color:#B0B0B0;
border:none;
margin:10px;
padding:0;
color:white;
}

.addBtn p {
text-align: center;
font-size: 48px;
font-weight:bold;
}


#addFieldBtn-hRequest-Material  {
  align: right;
}

#map {
  width: 640px;
  height: 960px;
  position: fixed;
  zoom: 1;
}  

#menu {
	background-image: url(../screens/reAct_mainmenu_base.png);
	float: left;
	position: absolute;
	z-index: 20002;
	height: 960px;
	overflow: hidden;
	padding-top: 160px;
	left: -440px;
}

#menu>ul, #menu>ul>li, #menu>ul>li>ul, #menu>ul>li>ul>li {
	list-style: none;
	padding: 0;
	margin: 0;
}


#menu img {
	position: relative;
  width: 460px;
  float: left;
}

#screen1 {
  top: 0;
  left: 0;
}

#menu-button {
  top: 84px;
  left: 0px;
  position:relative;
  z-index: 20001;
}

#back-button {
  top: 64px;
  left: 36px;
  z-index: 2000;
  visibility: hidden;
}

#menu-right {
  top: 0;
  left: -640px;
}

#menu-right-back {
  top: 0;
  left: -640px;
}



#ui {
  z-index: 10000;
}

#nav {
  z-index: 10001;
}

.leaflet-control-container {
  display: none;
}

#news-list {
  position: absolute;
  top: 960px;
  background: rgba(255,255,255,0.8);
  height: 960px;
}

.news-body>ul, .news-body>ul>li {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  float: left;
}

#news-list img {
  position: relative;
  float: left;
}

.news-body>ul img {
  padding-bottom: 4px;
}

.news-header {
  border-bottom: 4px solid #666;
}

.news-body {
  height: 760px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 200px;
  width: 640px;
}

#news-list .arrow_right {
  position: absolute;
  left: 0; 
}

#news-list .arrow_left {
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  display: none;
}

#news-detail {
  position: absolute;
  top: 200px;
  background: rgba(255,255,255,0.8);
  height: 760px;
  left: 640px;
  width: 562px;
}


.react-popup {
  width: 400px;
  height: 350px;
}

.react-popup>.leaflet-popup-content-wrapper, .react-popup>.leaflet-popup-tip {
  background: none;
  box-shadow: none;
}

.react-popup>.leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: none;
  width: 400px;
}

.react-popup>.leaflet-popup-content-wrapper>.leaflet-popup-content {
  margin: 0;
  line-height: 1;
  width: 400px;
}

.react-popup>.leaflet-popup-close-button {
  display: none;
}

.react-popup>.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-content {
  font-size: 24px;
}



.detail {
  position: absolute;
  top: 45px;
  opacity: 1;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}